@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}
@model String

<h3>请使用微信支付</h3>
<script type="text/javascript">
    // 当微信内置浏览器完成内部初始化后会触发WeixinJSBridgeReady事件。
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {

        WeixinJSBridge.invoke(
            'getBrandWCPayRequest', 
            @Html.Raw(Model)
            , function (res) {
                if (res.err_msg == "get_brand_wcpay_request:ok") {
                    displayBarNotification("支付成功", "success");
                    window.location.href = "@Url.RouteUrl("HomePage")";
                } else if(res.err_msg == "get_brand_wcpay_request:cancel") {
                    displayBarNotification("您已取消支付", "error");
                    window.location.href = "@Url.RouteUrl("OrderDetails", new { orderId = ViewBag.orderId })";
                }else {
                    displayBarNotification("支付失败", "error");
                    window.location.href = "@Url.RouteUrl("OrderDetails", new { orderId = ViewBag.orderId })";
                }
            // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回ok，但并不保证它绝对可靠。
            //因此微信团队建议，当收到ok返回时，向商户后台询问是否收到交易成功的通知，若收到通知，前端展示交易成功的界面；若此时未收到通知，商户后台主动调用查询订单接口，查询订单的当前状态，并反馈给前端展示相应的界面。
        });

    }, false);
</script>